


h3{ 
	color:#B6B9BE  ;
	text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}



a:link {
    color: #96F6FF;
	text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}

a:visited {
    color: #30BFCB;
	text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}

a:hover {
    color: #D0D0D0;
	text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}

a:active {
    color: #A3B4B5;
	text-shadow: 0 0 3px #000000, 0 0 10px #000000;
}





